*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #fafafa;
    padding: 20px;
    border: 2px solid #000;
}

header h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

nav{
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 25px;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    font-weight: 600;
}

nav .cuadro{
    width: 20px;
    height: 20px;
    background: #7965FF;
    display: inline-block;
    margin-right: 5px;
}

nav .active{
    color: #7965FF;
    text-decoration: underline;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #DFF27C;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.hero img{
    width: 100%;
    border-radius: 20px;
}

.texto-quees h2{
    font-size: 60px;
    font-weight: 800;
    line-height: 55px;
}

.texto-quees button{
    background: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 10px;
}

.intro{
    padding: 20px;
    background: #fce0ff;
    border-radius: 15px;
}

.intro p{
    margin-bottom: 12px;
}

.glosario{
    margin-top: 25px;
    padding: 20px;
}

.glosario h3{
    color: #4b4bff;
    margin-bottom: 10px;
}

.recursos{
    background: #D7D4FF;
    padding: 25px;
    border-radius: 20px;
    margin-top: 20px;
}

.recursos h3{
    font-size: 26px;
    margin-bottom: 20px;
}

.cajas{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.caja{
    background: #4B44FF;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.conceptos{
    margin-top: 25px;
    background: #FFBED3;
    padding: 25px;
    border-radius: 20px;
}

.conceptos h3{
    font-size: 28px;
    margin-bottom: 10px;
}

/* Responsive */
@media(max-width: 800px){

    .hero{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .texto-quees h2{
        font-size: 45px;
    }
}
